<div id="bestFilm">
    <div id="titleBestFilms">
        <h1>Кращі фільми з Кінотеатрів 2017 - 2018 року</h1>
    </div>
     <div id="sliderMonitor">
         <div id="visibleWindow">
             <div class="items">
                 <div class="slider">
                     <img src={{filmSrcImg1}} alt={{filmNameEn1}}>
                     <div class="nameFilmsSlider"><p>{{filmName1}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg2}} alt={{filmNameEn2}}>
                     <div class="nameFilmsSlider"><p>{{filmName2}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg3}} alt={{filmNameEn3}}>
                     <div class="nameFilmsSlider"><p>{{filmName3}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg4}} alt={{filmNameEn4}}>
                     <div class="nameFilmsSlider"><p>{{filmName4}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg5}} alt={{filmNameEn5}}>
                     <div class="nameFilmsSlider"><p>{{filmName5}}</p></div>
                 </div>
             </div>
             <div class="items">
                 <div class="slider">
                     <img src={{filmSrcImg6}} alt={{filmNameEn6}}>
                     <div class="nameFilmsSlider"><p>{{filmName6}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg7}} alt={{filmNameEn7}}>
                     <div class="nameFilmsSlider"><p>{{filmName7}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg8}} alt={{filmNameEn8}}>
                     <div class="nameFilmsSlider"><p>{{filmName8}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg9}} alt={{filmNameEn9}}>
                     <div class="nameFilmsSlider"><p>{{filmName9}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg10}} alt={{filmNameEn10}}>
                     <div class="nameFilmsSlider"><p>{{filmName10}}</p></div>
                 </div>
             </div>

             <div class="items">
                 <div class="slider">
                     <img  src={{filmSrcImg11}} alt={{filmNameEn11}}>
                     <div class="nameFilmsSlider"><p>{{filmName11}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg12}} alt={{filmNameEn12}}>
                     <div class="nameFilmsSlider"><p>{{filmName12}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg13}} alt={{filmNameEn13}}>
                     <div class="nameFilmsSlider"><p>{{filmName13}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg14}} alt={{filmNameEn14}}>
                     <div class="nameFilmsSlider"><p>{{filmName14}}</p></div>
                 </div>

                 <div class="slider">
                     <img src={{filmSrcImg15}} alt={{filmNameEn15}}>
                     <div class="nameFilmsSlider"><p>{{filmName15}}</p></div>
                 </div>
             </div>

         </div>
     </div>

     <div class="shiftSlider" id="shiftLeft"><</div>
     <div class="shiftSlider" id="shiftRight">></div>

 </div>